# Dependencies
/frontend/node_modules
/backend/.venv

# Build artifacts
/frontend/dist
/frontend/playwright-report
/frontend/test-results

# User-generated content
/store/*
!/store/.gitkeep

# Environment files
.env
*.env.local

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
